.container {
    display: grid;
    grid-template: 1fr 4fr / 1fr;
}

.nav {
    grid-column: 1/-1;
    text-align: center;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: x-large;
}

.mainDiv {
    display: flex;
    justify-self: center;
    width: 70%;
}


.table {
    align-self: center;
    overflow-x: scroll;
    border-collapse: collapse;
    border: 1px solid black;
}

.table th {
    text-align: center;
}

.table td {
    /* border: 1px solid black; */
}


.table td {
    text-align: center;
    font-size: x-large;
}

.table td a {
    text-decoration: none;
    color: black;
}

.table thead {
    background-color: black;
    color: yellow;
}

.table thead th {
    color: yellow;
}



.button {
    padding: 5px;
    border-radius: 5px;
    width: auto;
    margin: 5px;

}

.profileDiv {
    border: 2px solid rebeccapurple;
}

.profileList {
    text-align: center;
    list-style: none;
}

.profileList li {
    margin: 5px;
    font-size: x-large;
    background-color: beige;
}

.editDiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.editDiv form {
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
}