.login {
    height: 100vh;
    background-color: lemonchiffon;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backBtn {
    align-self: flex-start;
    text-decoration: none;
}


.backBtn Button {
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: x-large;
}


.form {
    background: linear-gradient(to top right, transparent, coral);
    display: grid;
    box-shadow: 3px 5px rgb(90, 90, 90);
    border: 2px solid black;
    padding: 100px;
    height: 50vh;
    width: 20vw;
    color: darkmagenta;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.h1 {
    color: indigo;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    text-align: start;
}

.head1 {
    color: indigo;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    text-align: start;
    letter-spacing: 9px;

}

.input {
    width: 100%;
    height: 100%;
}

.button {
    font-size: large;
    height: 100%;
    cursor: pointer;
}

.p a {
    text-align: center;
    text-decoration: none;
    display: block;
    color: darkgreen;
    font-weight: 700;
}

@media(max-width:600px) {

}