.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.backBtn {
    align-self: center;
    margin-right: 20em;
    margin-bottom: 1em;
    text-decoration: none;
    margin-top: 30px;
    font-size: x-large;
}


.backBtn Button {
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: x-large;
}


.form {
    background-color: rgb(191, 220, 191);
    border-radius: 1em;
    color: black;
    
}


.head1 {
    color: indigo;
    text-align: start;
    letter-spacing: 9px;

}


.p {
    text-align: center;
}

.p a {
    color: darkgreen;
    font-weight: 700;
}

@media(max-width:700px) {
    .form{
        padding: 0px;
    }
    .form input{
      
    }
    .backBtn{
    margin-right: 10em;

    }
}