.container {
    font-size: x-large;
    justify-content: center;
    align-items: center;
    margin: 1em;
    border: 7px solid white;
    border-radius: 1em;
}

.Card {
    background-color: white;
    text-align: center;
    font-family: cursive;
    font-weight: bold;
    background-size: 550px 450px;
    height: 15em;
    width: 14em;
}

.container a {
    text-decoration: none;
    color: black;
}

.Card p {
    font-size: 1.4em;
}


