.Header {
    height: 100%;
    display: grid;
    background-color: rgb(11, 102, 59);
    grid-template: 1fr/1fr 1fr;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
}

.div1 {
    display: flex;
    justify-content: space-between;
}

.div1,
.div1 a {
    text-decoration: none;
    color: white;
}

.div1 h1 {
    margin-right: 10em;
}

.div2 {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.div2 button {
    /*
     height: 40px;
    width: 180px;
    font-weight: bold;
    */
    margin-top: 1em;
    color: white;
    margin-right: 1em;
}

.div2 button:hover {
    background-color: red;
}


.DehazeIcon {
    color: white;
    align-self: center;
    margin-left: 2em;
}

.DehazeIcon:hover {
    cursor: pointer;
    border-radius: 2px;
    background-color: rgba(35, 222, 255, 0.226);
}

@media (max-width:900px) {
    .div1 h1 {
        display: none;
    }


}

@media (max-width:400px) {
    .div1 h1 {
        display: none;
    }

}