.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: 1fr 1fr 1fr/ 1fr;
    background-color: blue;
}

.landingPageHead{
    text-align: center;
    width: 100%;
    height: 100%;
    grid-column: 1/-1;
    background: gray;
    font-size: 3rem;
    font-weight: bolder;
    color: black;
}

.mainDiv {
    display: grid;
    grid-template-columns:1fr 1fr ;
    column-gap: 5px;
    width: 100%;
    height: 100%;
    background-color: aqua;
}