.Header{
    display: grid;
    background-color: rgb(1, 75, 94);
    grid-template: 1fr/1fr 1fr;
    justify-content: space-between;
    align-content: space-between;
    height: 100%;
}

.div1{
    display: flex;
    justify-content: space-between;
}

.div1 h1{
    margin-right: 15em;
}

.div2{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}
.div2 button{
    height: 40px;
    width: 180px;
    font-size: x-large;
    font-weight: bold;
    background-color: black;
    color: white;
    cursor: pointer;    
    margin-right: 1em;
    margin-top: 1em;
}
.div2 button:hover{
    color: black;
    background-color: white;
}

.DehazeIcon{
    color: white;
    align-self: center;
    margin-left: 3em;
}

.DehazeIcon:hover{
    cursor: pointer;
    border-radius: 2px;
    background-color: rgba(35, 222, 255, 0.226);
}

@media (max-width:900px){
.div1 h1{
    display: none;
}


}

@media (max-width:400px){
.div1 h1{
    display: none;
}

.div2 button{
    width: 120px;
    font-size: large;
}

}