.container {
    display: grid;
    padding: 10px;
}

.nav {
    grid-column: 1/-1;
    text-align: center;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);

}

.subject {
    width: 40rem;
    height: 2em
}

.form {
    padding: 50px;
}

.table {
    border: 1px solid black;
}

.table td {
    text-align: center;
}

.table th {
    text-align: center;
}

.form button {
    height: 40px;
    width: 200px;
    align-self: center;
}

.detailsDiv img{
    width: 100%;
    height: auto;
}