.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.sectionOne {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: auto;
}

.form {
    background-color: rgb(232, 245, 255);

}

#backBtn {
    margin-right: 15em;
    margin-top: 1em;
}






@media (max-width:400px) {


    .form {
        margin-left: 50vw;  
    }

    #backBtn {
        margin-right: 10em;
        margin-top: 1em;
    }


}