.container {
    width: 100%;
    height: 100%;
    grid-template: 1fr/1fr 1fr;
    background-color: rgb(210, 238, 210);
}


.mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainDiv nav {
    align-self: flex-end;
}

